.alert-success {
    background-color: lightgreen;
    color: rgb(155, 252, 155);
    border: 2px solid rgb(155, 247, 155);
    padding: 10px;
}

.alert-warning {
    background-color: gold;
    color: darkorange;
    border: 2px solid darkorange;
    padding: 10px;
}

.alert-danger {
    background-color: indianred;
    color: white;
    border: 2px solid darkred;
    padding: 10px;
}

.alert-info {
    background-color: lightblue;
    color: darkblue;
    border: 2px solid darkblue;
    padding: 10px;
}

nav li {
    display: inline;
    background-color: darkslategray;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

nav li a {
    color: white;
    text-decoration: none;
}

input {
    border-radius: 10px;
    padding: 5px;
}

body {
    background-color: lavender;
    color: midnightblue;
    font-family: Arial, sans-serif;
}
